*{
  font-family: sans-serif;
  color: white;
}

body{
  background-image: linear-gradient(0deg, rgba(136, 136, 206, 0.7), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg); 
}

#dropdown, invalid {
  color: grey;
}
#dropdown{
  color: black;
}


form{
  background-color: hsla(254, 100%, 10%, 0.88);
  padding: 2.5rem;
  width: 80%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#question{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 10px;
}

h1, p{
  text-align: center;
  font-weight: 90;
}

h1{
  padding-top: 20px;
}

p{
  font-style: italic;
  margin: 0px 0px 30px;
}

input, #dropdown {
  background-color: white;
}

#name, #email, #number, textarea, #submit, #dropdown{
  width: 100%;
  border-radius:4px;
  height: 40px;
  margin-top: 15px;
}

textarea{
  background-color: white;
}

#submit{
  background-color: hsla(124, 36%, 50%, 1);
  height: 35px;
  font-size: 15px;
  font-weight: 90;
  border-radius: 5px;
  box-align: center;
}